/* your custom css */

footer {
    background: #111;
  }
  
  .nav-footer .fbOpenSource {
    opacity: 1;
  }
  
  .fixedHeaderContainer {
    border-bottom: 1px solid #f3f5f9;
    background: #ffffff;
  }
  
  .fixedHeaderContainer a {
    color: #888a8c;
  }
  
  .navigationSlider .slidingNav ul li.siteNavGroupActive > a {
    color: #888a8c;
  }
  
  .navigationSlider .slidingNav ul li.siteNavItemActive > a,
  .navigationSlider .slidingNav ul li.siteNavGroupActive > a {
    background: #ffffff;
  }
  
  @media only screen and (min-device-width: 360px) and (max-device-width: 736px) {
  }
  
  @media only screen and (min-width: 1024px) {
  }
  
  @media only screen and (max-width: 1023px) {
  }
  
  @media only screen and (min-width: 1400px) {
  }
  
  @media only screen and (min-width: 1500px) {
  }
  